@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: #1a1b1e;
    margin: 0%;
    padding: 0%;
}

.flex {
  position: relative;
}

.shadow__btn {
  padding: 5px 15px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(255, 0, 38);
  box-shadow: 0 0 25px rgb(255, 0, 0);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(255, 0, 47),
              0 0 25px rgb(255, 0, 13),
              0 0 50px rgb(255, 0, 25),
              0 0 100px rgb(255, 0, 25);
}


 

 
 
 
 
 
 
 

  
   
   
   
   
   