@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background-color: #1a1b1e;
    margin: 0%;
    padding: 0%;
}

/* .input__form {
    width: 100%;
    padding: 5px 70px;
    font-size: 16px;
    box-shadow: 0 0 0 1px #ec1a23ff;
    border: none;
    border-radius: 8px;
    background-color: #1a1b1e;
    transition: all .3s;
  }
  
  .input__form::placeholder {
    color: #fff;
    font-size: 14px;
  }
  
  .input__form:focus {
    outline: none;
    box-shadow: 0 0 10px 1px #ec1a23ff;
    border: none;
    transition: all .3s;
  } */
  
   
   
   
   
   